.block {
  $parent: &;

  --var: 10vw;
  --par: $parent;

  @include text-overflow;

  display: inline;

  @include hover {
    color: red;

    #{$parent} {
      &__item {
        display: inline;
      }
    }
  }

  @supports (display: grid) {
    display: grid;
  }

  @include media-breakpoint-down(md) {
    display: block;
  }

  @media screen {
    display: block;
  }

  &__item {
    display: inline-block;

    @include media-breakpoint-down(md) {
      display: inline;
    }

    &--modifier {
      display: block;
    }
  }

  &--modifier {
    display: block;
  }

  h1 {
    display: block;
  }

  .me-elem {
    display: block;
  }
}
