html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: $regular;
  font-family: $font-default;
  line-height: $baseLineHeight;
}

* {
  box-sizing: border-box;

  &:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &:focus {
    outline: none !important;
  }
}

input,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  @include placeholder {
    color: $grey;
    opacity: 1;
  }
}

input[type='text'] {
  &:focus {
    @include placeholder {
      opacity: 0;
    }
  }
}

button {
  cursor: pointer;
}

a {
  color: $linkColor;

  &:hover,
  &:active {
    color: $linkColorHover;
  }
}

svg {
  width: 100%;
  height: 100%;
}

menu {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: $regular;
  line-height: 1;
}
