/****************************************** transitions **********************************************/
.collapse-toggle {
  &-enter {
    transform: scaleX(0.4);

    &-to {
      transform: scaleX(1);
    }

    &-active {
      transition: all 0.15s ease;
    }
  }

  &-leave {
    transform: scaleX(1);

    &-to {
      transform: scaleX(0.4);
    }

    &-active {
      transition: all 0.15s ease;
    }
  }
}

.from-top {
  &-enter {
    margin-top: -9.375em;

    &-to {
      margin-top: 0;
    }

    &-active {
      transition: all 0.2s linear;
    }
  }

  &-leave {
    margin-top: 0;

    &-to {
      margin-top: -9.375em;
    }

    &-active {
      transition: all 0.2s linear;
    }
  }
}

.from-bottom {
  &-enter {
    transform: translateY(100%);

    &-to {
      transform: translateY(0);
    }

    &-active {
      transition: all 0.3s linear;
    }
  }

  &-leave {
    transform: translateY(0);

    &-to {
      transform: translateY(100%);
    }

    &-active {
      transition: transform 0.3s linear;
    }
  }
}

.modal {
  &-enter {
    transform: translateY(100%);

    &-to {
      transform: translateY(0);
    }

    &-active {
      transition: all 300ms $easeIn;
    }
  }

  &-leave {
    transform: translateY(0);

    &-to {
      transform: translateY(100%);
    }

    &-active {
      transition: all 300ms $easeOutCubic;
    }
  }
}
