// Paths
// -------------------------
$imgPath:                   '/images/';
$fontPath:                   '/fonts/';

// Typography
// -------------------------
$base-font-size: 16;
$baseLineHeight: 1.25 !default;

$sans:                      sans-serif !default;
$serif:                     serif !default;

$thin:                      100 !default;
$light:                     300 !default;
$regular:                   400 !default;
$medium:                    500 !default;
$bold:                      700 !default;
$ultraBold:                 800 !default;

$font-default: '', $sans;
$font-accent: '', $sans;

// Colors
// -------------------------
$white:                     #ffffff !default;
$black:                     #000000 !default;
$grey:                      #d0d3d4 !default;
$green:                     #2ea555 !default;
$yellow:                    #ffd525 !default;
$blue:                      #1a8cff !default;
$red:                       #e03c31 !default;

// Scaffolding
// -------------------------
$bodyBackground:            $white !default;
$textColor:                 $black !default;
$hrBorder:                  $black !default;

// Links
// -------------------------
$linkColor:                 $yellow !default;
$linkColorHover:            darken($yellow, 10%) !default;

// Easing presets
// --------------------------
$linear:                    cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease:                      cubic-bezier(0.25, 0.1, 0.25, 1);
$easeIn:                    cubic-bezier(0.42, 0, 1, 1);
$easeInQuad:                cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInCubic:               cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInQuart:               cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint:               cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInSine:                cubic-bezier(0.47, 0, 0.745, 0.715);
$easeInExpo:                cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInCirc:                cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOut:                   cubic-bezier(0, 0, 0.58, 1);
$easeOutQuad:               cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutCubic:              cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuart:              cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint:              cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine:               cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutExpo:               cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc:               cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOut:                 cubic-bezier(0.42, 0, 0.58, 1);
$easeInOutQuad:             cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic:            cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart:            cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutQuint:            cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine:             cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInOutExpo:             cubic-bezier(1, 0, 0, 1);
$easeInOutCirc:             cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Animation
// -------------------------
$transTime:                 0.3s;
$transTimeFast:             $transTime * 0.5;
$transTimeSlow:             $transTime * 1.5;
$transTimeSuperSlow:        $transTime * 2;
$easeDefault:               $ease;
