<template>
  <div className="home-page">
    <MapCanvas />
  </div>
</template>

<script>
import MapCanvas from "@/components/MapCanvas";

export default {
  name: 'HomePage',
  components: {
    MapCanvas
  },
};
</script>


<style>
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  overflow: hidden;
  display: block;
  background: gray;
}
</style>
